<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
      <div class="row">
        {% for img in images %}
          <div class="col-md-2"><img class="ima" id="{{img}}" src="../img/{{img}}" onclick=addKey("{{img}}");></div>
        {% endfor %}
      </div>
      <button class="btn btn-default izquierda" onclick="addClassTag(0)">Izquierda</button>
      <button class="btn btn-default derecha" onclick="addClassTag(1)">Derecha</button>
      <button class="btn btn-default izquierda_adelante" onclick="sendData('uploadajax')">Listo</button>
      <!--<button class="btn btn-default derecha_adelante" onclick="addClassTag(3)">Derecha adelante</button>
      <button class="btn btn-default frente" onclick="addClassTag(4)">Frente</button>
      <button class="btn btn-default atras" onclick="addClassTag(5)">Atras</button>
      <button class="btn btn-default izquierda_atras" onclick="addClassTag(6)">Izquierda atrás</button>
      <button class="btn btn-default derecha_atras" onclick="addClassTag(7)">Derecha atrás</button>
      <button class="btn btn-default derecha_atras" onclick="addClassTag(8)">Imagen mala</button>
      <button class="btn btn-default" onclick="sendData('/uploadajax');">Más imágenes</button>!-->
    </div>
      <script type="text/javascript">
        var tagged = {};
        var keys = [];

        function addKey(image){
            keys.push(image);
        }
        function addClassTag(class_number){
          for (var i = 0, l = keys.length; i < l; i++) {
            tagged[keys[i]] = class_number;
          };
          keys = [];
        }

        function saveTags(){
            var band;
            {% for img in images %}
              band = 0;
              $.each(tagged, function( key, value ) {
                if (key == "{{img}}"){
                  band = 1
                }
              });
              if (band == 0){
                tagged["{{img}}"] = 2
                  }
            {% endfor %}
        }

        function sendData(url){
          console.log(tagged);
          saveTags();
          console.log(tagged);
          $.ajax({
             url: url,
             type: 'POST',
             contentType: 'application/json',
             data: JSON.stringify(tagged)
           }).done(function(){
              tagged = {};  
              console.log('Perfecto!');
              window.location.replace("/");            
          }).fail(function(error){
              alert(error.message);
          });

        }
      </script>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="{{url_for('js_static', filename='app.js')}}"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>